{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>
     <link href="/public/output.css" rel="stylesheet">
  </head>
  <body id="body" class="bg-gray-100 text-gray-900">
    {{ template "navbar" . }}

    {{ template "dropdowns" . }}
    
    <div id="contentcontainer" class="contentcontainer p-6 mt-5">
      <div id="products" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 p-4">
         {{ template "products" .}}
      </div>
      <div id="nextpage" style="grid-column: unset; grid-row: unset;">
        {{ template "nextpage" . }}
      </div>
    </div>
  
    <script>
      window.onload = function() {
        token = "{{ .Values.SessionID }}"
        document.cookie = "session=" + token;
      }
      history.pushState({}, '', '/');
    </script>
  </body>

  <script src="/public/dropdown_script.js"></script>
</html>
{{ end }}

