{{ block "nextpage" . }}
<div class="flex justify-center space-x-2 mt-4">
  {{ if .Values.Is_Searching}}
    {{ range .PaginationStrip }}
      {{ if ne .Value -1}}
        <a
          href="/?num={{.Value}}&search={{$.Values.SearchTerm}}"
        >
        <button class="px-4 py-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300 transition">
          {{ .DisplayValue }}
        </button>
        </a>
      {{ else }}
        <button class="px-4 py-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300 transition">
          {{ .DisplayValue }}
        </button>
      {{ end }}
    {{ end }}
  {{ else }}
    {{ range .PaginationStrip }}
      {{ if ne .Value -1}}
        <a
          href="/?num={{.Value}}"
        >
        <button class="px-4 py-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300 transition">
          {{ .DisplayValue }}
        </button>
        </a>
      {{ else }}
        <button class="px-4 py-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300 transition">
          {{ .DisplayValue }}
        </button>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
{{ end }}
