{{ block "productPage" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>
    <link href="/public/output.css" rel="stylesheet">
  </head>
  <!--
CHANGE THIS: MAKE SEARCH INTO A SEPARATE LINK
  -->
  <body id="body" class="bg-gray-100 text-gray-900">

    {{ template "navbar" . }}

    {{ template "dropdowns" . }}

    <div id="contentcontainer" class="contentcontainer p-6 mt-5">
      <div id="products" class="">
        <div id="test">test</div>
        <div><img style="width: 200px;" src="data:image/png;base64,{{.Values.Product.Image}}" alt="Product Image"/></div>
        <p>Prod Name: {{ .Values.Product.Name }}</p>
        <div>{{ .Values.Product.Id }}</div>
        <div>{{ .Values.Product.Desc }}</div>
        <div>{{ .Values.Product.Price }}</div>
        <button 
          hx-put="/addtocart?id={{ .Values.Product.Id}}"
          hx-trigger="click"
          hx-swap="none"
        > Add to the cart</button>
          <div> you can add tags, ability to choose color if possible, etc</div>
      </div>
    </div>
  </body>
  <script>
    window.onload = function() {
      //alert("token: " + document.cookie);
    }
  </script>
  <script src="/public/dropdown_script.js"></script>
</html>
{{ end }}
