{{ block "cart" . }}
<div id="cart" style="position: fixed; right: 0; top: 0; width: 150px; background-color: #f0f0f0; height: 200px; overflow: scroll;">
  <h2>Cart:</h2>
  <div id="items">

  {{ template "cartitems" . }}

  <button 
    onclick="window.location.href='/c/{{ .Values.SessionID}}'">
  Buy</button>

  </div>
{{ end }}

{{ block "cartitems" . }}
  {{ range .CartList }}
  <div class="cart-item" id="item-{{ .CartID }}">
    <p>{{ .Product.Name }}</p>
    <p>Quantity:{{ .Product.Quantity }}</p>
    <button
      hx-delete="/removefromcart?id={{.CartID}}"
      hx-trigger="click"
      hx-swap="outerHTML"
      hx-target="#item-{{ .CartID }}"
    >remove</button>
  </div>
  {{ end }}
</div>
{{ end }}

{{ block "cartitems-oob" . }}
  {{ if .IsNew }}
    <div id="item-{{ .CartItem.CartID }}" hx-swap-oob="beforeend:#items">
      <div id="item-{{ .CartItem.CartID }}" class="cart-item" >
        <p>{{ .CartItem.Product.Name }}</p>
        <p>Quantity:{{ .CartItem.Product.Quantity }}</p>
        <button
          hx-delete="/removefromcart?id={{.CartItem.CartID}}"
          hx-trigger="click"
          hx-swap="outerHTML"
          hx-target="#item-{{ .CartItem.CartID }}"
        >remove</button>
      </div>
    </div>
  {{ else }}
    <div class="cart-item" id="item-{{ .CartItem.CartID }}" hx-swap-oob="outerHTML">
      <p>{{ .CartItem.Product.Name }}</p>
      <p>Quantity:{{ .CartItem.Product.Quantity }}</p>
      <button
        hx-delete="/removefromcart?id={{.CartItem.CartID}}"
        hx-trigger="click"
        hx-swap="outerHTML"
        hx-target="#item-{{ .CartItem.CartID  }}"
      >remove</button>
    </div>
  {{ end }}
{{ end }}

<!--hx-vals='{"id": {{ .Id }} }'-->
