<!--
type CartItem struct{
  Product Product
  CartID  string
  Total int
}
type Product struct {
  Id string
  Name string
  Price int
  Desc string
  Quantity int
}
-->
{{ block "cartPage" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div>display the prices of products times their ammount<div>
    <div>display total<div>
    <div>hook bank API or whatever to make a payment<div>
    {{ range .CartInfo  }}
      <div>
      <div><img style="width: 100px;" src="data:image/png;base64,{{.Product.Image}}" alt="Product Image"/></div>
      <p> {{ .Product.Name }}</p>
      <span> Price: {{ .Product.Price }}</span>
      <span> Quantity: {{ .Product.Quantity }}</span>
      <p style="color: green;"  > Total: {{ .Total }}</p>
      </div>
    {{ end }}

    <div style="color: red;">Final Price {{ .FinalPrice }}</div>
      <a href="http://portfolio.serverpit.com:25000/payment" class="button">Pay Now</a>
    </form>
  </body>
</html>
{{ end }}
