<!--
SessionContext
  >
  SessionID
  CurrentPage
  CurrentCart
    >
    ProductsList
      >
      Id
      Name
      Prise
      Desc
-->

{{ block "cart" . }}
  <h2>Cart:</h2>
  <div id="items">

  {{ template "cartitems" .CurrentCart }}
  </div>
  <button hx-put="/buy" hx-trigger="click">Buy</button>
{{ end }}

{{ block "cartitems" . }}
  {{ range .ProductsList }}
  <div class="cart-item" id="item-{{ .Id }}">
    <p>{{ .Name }}</p>
    <p>Quantity:{{ .Quantity }}</p>
    <button
      hx-delete="/removefromcart"
      hx-trigger="click"
      hx-vals='{"id": {{ .Id }} }'
      hx-swap="outerHTML"
      hx-target="#item-{{ .Id }}"
    >remove</button>
  </div>
  {{ end }}
{{ end }}

{{ block "cartitems-oob" . }}
  {{ if .IsNew }}
    <div id="item-{{ .Product.Id }}" hx-swap-oob="beforeend:#items">
      <div id="item-{{ .Product.Id }}" class="cart-item" >
        <p>{{ .Product.Name }}</p>
        <p>Quantity:{{ .Product.Quantity }}</p>
        <button
          hx-delete="/removefromcart"
          hx-trigger="click"
          hx-vals='{"id": {{ .Product.Id }} }'
          hx-swap="outerHTML"
          hx-target="#item-{{ .Product.Id }}"
        >remove</button>
      </div>
    </div>
  {{ else }}
    <div class="cart-item" id="item-{{ .Product.Id }}" hx-swap-oob="outerHTML">
      <p>{{ .Product.Name }}</p>
      <p>Quantity:{{ .Product.Quantity }}</p>
      <button
        hx-delete="/removefromcart"
        hx-trigger="click"
        hx-vals='{"id": {{ .Product.Id }} }'
        hx-swap="outerHTML"
        hx-target="#item-{{ .Product.Id  }}"
      >remove</button>
    </div>
  {{ end }}
{{ end }}

<!--hx-vals='{"id": {{ .Id }} }'-->
