<!-- 
SiteContext 
  >
  PageContext
    >
    ProductsList
      >
      []Product
        > 
        Id 
        Name
        Prise
        Desc
  >
  SessionContext
    >
    SessionID
    CurrentPage
    Searching(bool)
    SearchTerm
    CurrentCart
      >
      ProductsList
        >
        Id
        Name
        Prise
        Desc
-->
{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body id="body">

    <div class="navbar" >
        <h1>navbar</h1>
    </div>
    <div id="searchbar" class="searchbar">
      <h2>
        Search Though Products 
        <span class="htmx-indicator">
          <span>Searching...<span>
        </span>
      </h2>
      <input 
        class="form-control" type="search"
        name="search" placeholder="Begin Typing To Search Products..."
        hx-get="/search"
        hx-target="#products"
        hx-indicator=".htmx-indicator"
        hx-swap="innerHTML"
      >
    </div>
    <div id="cart" style="position: fixed; right: 0; top: 0; width: 150px; background-color: #f0f0f0; height: 100vh; overflow: scroll;">
      {{ template "cart" .SessionContext }}
    </div>
    {{ template "content" .}}

  <script>
    window.onload = function() {
      token = "{{ .SessionContext.SessionID }}"
      document.cookie = "session=" + token;
      //alert("token: " + document.cookie);
    }
  </script>
  </body>
</html>
{{ end }}

{{ block "content" . }}
  <div id="contentcontainer" class="contentcontainer">
    <div id="products" style="display: flex; flex-direction: column; margin-right: 220px;">
      {{ template "products" .PageContext}}
    </div>

  </div>
{{ end }}
