{{ block "navbar" . }}
<div class="navbar" >
  <h1>navbar</h1>
  <div id="searchbar" class="searchbar">
    <h2>
      Search Though Products 
      <div class="htmx-indicator" style="color: green;">
        <span>Searching...<span>
      </div>
    </h2>
    <input 
      class="form-control" type="search"
      name="search" placeholder="Begin Typing To Search Products..."
      value="{{ .Values.SearchTerm }}"
      hx-get="/search?newSearch=1"
      hx-trigger="input changed"
      hx-target="#products"
      hx-indicator=".htmx-indicator"
      hx-swap="innerHTML"
    >
  </div>
</div>
{{ end }}
{{ block "navbarForProduct" . }}
<div class="navbar" >
  <h1>navbar</h1>
  <div id="searchbar" class="searchbar">
    <h2>
      Search Though Products 
      <div class="htmx-indicator" style="color: green;">
        <span>Searching...<span>
      </div>
    </h2>
    <input 
      class="form-control" type="search"
      name="search" placeholder="Begin Typing To Search Products..."
      hx-get="/search?newSearch=1"
      hx-trigger="input changed"
      hx-target="#body"
      hx-indicator=".htmx-indicator"
      hx-swap="innerHTML"
    >
  </div>
</div>
{{ end }}
