{{ block "nextpage" . }}
<div>
  {{ if .Values.Is_Searching}}
    {{ range .NextProductsNums }}
      <button
        hx-trigger="click"
        hx-put="/tabnum?num={{.}}&search={{$.Values.SearchTerm}}" 
        hx-swap="outerhtml" 
        hx-target="#body"
        > {{ . }}
      </button>
    {{ end }}
    </div>
  {{ else }}
    {{ range .NextProductsNums }}
      <button
        hx-trigger="click"
        hx-put="/tabnum?num={{.}}" 
        hx-swap="outerhtml" 
        hx-target="#body"
        > {{ . }}
      </button>
    {{ end }}
  {{ end }}
</div>
{{ end }}

