{{ block "nextpage" . }}
<div>
  {{ if .Searching}}
    {{ range .NextProductsNums }}
      <button
        hx-trigger="click"
        hx-put="/tabnum?num={{.Num}}&search={{.SearchTerm}}" 
        hx-swap="outerhtml" 
        hx-target="#body"
        > {{ .Num }}
      </button>
    {{ end }}
    </div>
  {{ else }}
    {{ range .NextProductsNums }}
      <button
        hx-trigger="click"
        hx-put="/tabnum?num={{.Num}}" 
        hx-swap="outerhtml" 
        hx-target="#body"
        > {{ .Num }}
      </button>
    {{ end }}
  {{ end }}
</div>
{{ end }}

