<!-- PageContext
  >
  Start
  Next 
  More
  SearchTerm
  ProductsList
    >
    []Product
      > 
      Id 
      Name
      Price
      Desc
-->
{{ block "products" . }}

  {{ range .ProductsList }}
    {{ template "product" . }}
  {{ end }}

  {{ if .More }}
    {{ if .Searching}}
      <div 
        hx-trigger="revealed"
        hx-swap="outerHTML scroll:top"
        hx-get="/search?start={{ .Next }}&search={{ .SearchTerm }}"
      ></div>

    {{ else }}
      <div 
        hx-trigger="revealed"
        hx-swap="outerHTML scroll:top"
        hx-get="/?start={{ .Next }}"
      ></div>
    {{ end }}


  {{ end }}
 
  <div id="nextpage">
    {{ template "nextpage" .}}
  </div>

</div>
{{ end }}
<!--
ProductsList
  >
  []Product
    > 
    Id 
    Name
    Price
    Desc
-->
{{ block "product" . }}
<div class="Product"
  id="product-{{ .Id }}"
>
  <hr />
  <p>Prod Name: {{ .Name }}</p>
  <p>Description: {{ .Desc }}</p>
  <p>Price: {{ .Price}}</p>
  <p>Stock: {{ .Quantity}}</p>
  <a href="/p/{{ .Id }}/"> more</a>
  <button 
    hx-put="/addtocart?id={{.Id}}"
    hx-trigger="click"
    hx-swap="none"
    hx-target="#product-{{ .Id }}"
  > Add to the cart</button>
  <hr />
</div>
{{ end }}


