{{ block "productPage" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <!--
  type Product struct {
    Id string
    Name string
    Price int
    Desc string
    Quantity int
  }
  -->
  <body id="body">
    {{ template "navbarForProduct" . }}

    {{ template "cart" .}}

    <div id="test">test</div>
    <p>Prod Name: {{ .Product.Name }}</p>
    <div>{{ .Product.Id }}</div>
    <div>{{ .Product.Desc }}</div>
    <div>{{ .Product.Price }}</div>
  <button 
    hx-put="/addtocart?id={{ .Product.Id}}"
    hx-trigger="click"
    hx-swap="none"
  > Add to the cart</button>
    <div> you can add tags, ability to choose color if possible, etc</div>
  </body>
  <script>
    window.onload = function() {
      //alert("token: " + document.cookie);
    }
  </script>
</html>
{{ end }}
